Django==3.0
django-ckeditor==6.0.0
django-crispy-forms==1.9.2
django-js-asset==1.2.2
django-tinymce==3.1.0
gunicorn==20.0.4
oauth==1.0.1
oauthlib==3.1.0
Pillow==7.0.0
requests==2.25.0
urllib3==1.22
whitenoise==5.2.0
