{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div id="all">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li aria-current="page" class="breadcrumb-item active">Checkout - Address</li>
                            </ol>
                        </nav>
                    </div>
                    <div id="checkout" class="col-lg-9">
                        <div class="box">
                            <section>
                                <ul class="nav nav-tabs flex-column flex-md-row nav-pills text-center" id="myTab"
                                    role="tablist">
                                    <li class="nav-item waves-effect waves-light flex-sm-fill">
                                        <a class="nav-link text-sm-center active" id="address-tab"
                                           data-toggle="tab" href="#address" role="tab" aria-controls="address"
                                           aria-selected="true">
                                            <i class="fa fa-map-marker"></i>Address
                                        </a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light flex-sm-fill">
                                        <a class="nav-link text-sm-center" id="delivery-tab" data-toggle="tab"
                                           href="#delivery" role="tab" aria-controls="delivery" aria-selected="false">
                                            <i class="fa fa-truck"> </i>Delivery Method
                                        </a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light flex-sm-fill">
                                        <a class="nav-link  text-sm-center" id="payment-tab" data-toggle="tab"
                                           href="#payment" role="tab" aria-controls="payment" aria-selected="false">
                                            <i class="fa fa-money"> </i>Payment Method
                                        </a>
                                    </li>
                                    <li class="nav-item waves-effect waves-light flex-sm-fill">
                                        <a class="nav-link text-sm-center" id="profile-tab"
                                           data-toggle="tab" href="#review" role="tab" aria-controls="profile"
                                           aria-selected="false">
                                            <i class="fa fa-eye"></i>Order Review
                                        </a>
                                    </li>
                                </ul>
                                <form>
                                 {% csrf_token %}
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade active show" id="address" role="tabpanel"
                                             aria-labelledby="contact-tab">
                                            <div class="content py-3">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                       {{ form.first_name|as_crispy_field }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form.last_name|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <!-- /.row-->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{ form.postal_code|as_crispy_field }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form.city|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <!-- /.row-->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                          {{ form.email|as_crispy_field }}
                                                    </div>
                                                    <div class="col-md-6">
                                                         {{ form.address|as_crispy_field }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="phone">Telephone</label>
                                                            <input id="phone" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="email">Email</label>
                                                            <input id="email" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.row-->
                                            </div>

                                            <div class="box-footer d-flex justify-content-between">
                                                <a href="{% url 'basket' %}" class="btn btn-outline-secondary">
                                                    <i class="fa fa-chevron-left"></i>Back to Basket
                                                </a>
{#                                                <a href="#delivery" id="go_delivery" class="nav-link text-sm-center btn btn-primary"#}
{#                                                   data-toggle="tab"> Continue to Delivery Method<i#}
{#                                                        class="fa fa-chevron-right"></i></a>#}
                                                 <a id="go_delivery" class="nav-link text-sm-center btn btn-primary"> Continue to Delivery Method<i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="delivery" role="tabpanel"
                                             aria-labelledby="home-tab">
                                            <div class="content py-3">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="box shipping-method">
                                                            <h4>USPS Next Day</h4>
                                                            <p>Get it right on next day - fastest option possible.</p>
                                                            <div class="box-footer text-center">
                                                                <input type="radio" name="delivery" value="delivery1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="box shipping-method">
                                                            <h4>USPS Next Day</h4>
                                                            <p>Get it right on next day - fastest option possible.</p>
                                                            <div class="box-footer text-center">
                                                                <input type="radio" name="delivery" value="delivery2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="box shipping-method">
                                                            <h4>USPS Next Day</h4>
                                                            <p>Get it right on next day - fastest option possible.</p>
                                                            <div class="box-footer text-center">
                                                                <input type="radio" name="delivery" value="delivery3">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-footer d-flex justify-content-between"><a
                                                    href="{% url 'basket' %}"
                                                    class="btn btn-outline-secondary"><i
                                                    class="fa fa-chevron-left"></i>Back to address</a>
                                                <button type="submit" class="btn btn-primary">Continue to Payment Method<i
                                                        class="fa fa-chevron-right"></i></button>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="payment" role="tabpanel"
                                             aria-labelledby="profile-tab">
                                            <div class="content py-3">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="box payment-method">
                                                            <h4>Paypal</h4>
                                                            <p>We like it all.</p>
                                                            <div class="box-footer text-center">
                                                                <input type="radio" name="payment" value="payment1">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="box payment-method">
                                                            <h4>Payment gateway</h4>
                                                            <p>VISA and Mastercard only.</p>
                                                            <div class="box-footer text-center">
                                                                <input type="radio" name="payment" value="payment2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="box payment-method">
                                                            <h4>Cash on delivery</h4>
                                                            <p>You pay when you get it.</p>
                                                            <div class="box-footer text-center">
                                                                <input type="radio" name="payment" value="payment3">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.row-->
                                            </div>
                                            <!-- /.content-->
                                            <div class="box-footer d-flex justify-content-between">
                                                <a href="{% url 'basket' %}" class="btn btn-outline-secondary">
                                                    <i class="fa fa-chevron-left"></i>Back to Shipping Method</a>
                                                <button type="submit" class="btn btn-primary">Continue to Order Review<i
                                                        class="fa fa-chevron-right"></i></button>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="review" role="tabpanel"
                                             aria-labelledby="profile-tab">
                                            <div class="content">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th colspan="2">Product</th>
                                                            <th>Quantity</th>
                                                            <th>Unit price(Ksh)</th>
                                                            <th>Discount</th>
                                                            <th colspan="2">Total</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for item in cart %}
                                                            {% with product=item.product %}
                                                                <tr>
                                                                    <td>
                                                                        <a href="{{ product.get_absolute_url }}">
                                                                            <img src="


                                                                                    {% if product.image %}{{ product.image.url }}
                                                            {% else %}{% static "img/no-product-img.png" %}{% endif %}">
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                                                    </td>
                                                                    <td>
                                                                        <input type="number" value="{{ item.quantity }}"
                                                                               class="form-control">
                                                                    </td>
                                                                    <td>{{ item.price }}</td>
                                                                    <td>0.00</td>
                                                                    <td>{{ item.total_price }}</td>
                                                                    <td>
                                                                        <form action="{% url "cart:cart_remove" product.id %}"
                                                                              method="post">
                                                                            <button type="submit"
                                                                                    style="border: none; background: none;">
                                                                                <i
                                                                                        class="fa fa-trash-o"></i>
                                                                            </button>
                                                                            {% csrf_token %}
                                                                        </form>
                                                                    </td>
                                                                </tr>
                                                            {% endwith %}
                                                        {% endfor %}
                                                        </tbody>
                                                        <tfoot>
                                                        <tr>
                                                            <th colspan="5">Total</th>
                                                            <th colspan="2">Ksh,{{ cart.get_total_price }}</th>
                                                        </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                                <!-- /.table-responsive-->
                                            </div>
                                            <!-- /.content-->
                                            <div class="box-footer d-flex justify-content-between"><a
                                                    href="{% url 'basket' %}"
                                                    class="btn btn-outline-secondary"><i
                                                    class="fa fa-chevron-left"></i>Back to payment method</a>
                                                <button type="submit" class="btn btn-primary">Place an order<i
                                                        class="fa fa-chevron-right"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>


                            </section>
                        </div>
                        <!-- /.box-->
                    </div>
                    <!-- /.col-lg-9-->
                    <div class="col-lg-3">
                        <div id="order-summary" class="card">
                            <div class="card-header">
                                <h3 class="mt-4 mb-4">Order summary</h3>
                            </div>
                            <div class="card-body">
                                <p class="text-muted">Shipping and additional costs are calculated based on the values
                                    you have entered.</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Order subtotal</td>
                                            <th>Ksh: {{ cart.get_total_price }}</th>
                                        </tr>
                                        <tr>
                                            <td>Shipping and handling</td>
                                            <th>Ksh: 0.00</th>
                                        </tr>
                                        <tr>
                                            <td>Tax</td>
                                            <th>Ksh: 0.00</th>
                                        </tr>
                                        <tr class="total">
                                            <td>Total</td>
                                            <th>Ksh: {{ cart.get_total_price }}</th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-3-->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<script>
    $('#go_delivery').click(function(e){
    e.preventDefault();
    $('#myTab a[href="#delivery"]').tab('show');
})
</script>