{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="all">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li aria-current="page" class="breadcrumb-item"><a href="#">My orders</a></li>
                                <li aria-current="page" class="breadcrumb-item active">Order # {{ order.pk }}</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <!--
                        *** CUSTOMER MENU ***
                        _________________________________________________________
                        -->
                        <div class="card sidebar-menu">
                            <div class="card-header">
                                <h3 class="h4 card-title">Customer section</h3>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-pills flex-column">
                                    <a href="{% url 'my-account' %}" class="nav-link active"><i class="fa fa-list"></i>
                                        My orders</a>
                                    <a href="{% url 'my-account' %}" class="nav-link"><i class="fa fa-user"></i> My
                                        account</a>
                                    <a href="{% url 'logout' %}" class="nav-link"><i class="fa fa-sign-out"></i> Logout</a>
                                </ul>
                            </div>
                        </div>
                        <!-- /.col-lg-3-->
                        <!-- *** CUSTOMER MENU END ***-->
                    </div>
                    <div id="customer-order" class="col-lg-9">
                        <div class="box">
                            <h1>Order #{{ order.pk }}  {% if order.paid %}
                                <span class="badge badge-success">Paid</span>
                            {% else %}
                                <span class="badge badge-warning">Not paid</span>
                            {% endif %}
                            </h1>
                            <p class="lead">Order #{{ order.pk }} was placed on <strong>{{ order.created }}</strong> and
                                is currently <strong>Being prepared</strong>.</p>
                            <p class="text-muted">If you have any questions, please feel free to <a
                                    href="{% url 'contact' %}">contact us</a>, our customer service center is working
                                for you 24/7.</p>
                            <hr>
                            {% if email_sent %}
                                <p class="text-success text-center">Your order details has been sent to your email</p>
                            {% endif %}
                            <div class="table-responsive mb-4">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Product</th>
                                        <th>Quantity</th>
                                        <th>Unit price(ksh)</th>
                                        <th>Discount(ksh)</th>
                                        <th>Total(ksh)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in order_items %}
                                        <tr>
                                            <td><a href="#"><img src="{{ item.product.image.url }}"
                                                                 alt="Product image"></a></td>
                                            <td><a href="#">{{ item.product.name }}</a></td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            <td>0.00</td>
                                            <td>{{ item.price }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="5" class="text-right">Order subtotal</th>
                                        <th>{{ order.get_total_cost }}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="5" class="text-right">Shipping and handling</th>
                                        <th>200.00</th>
                                    </tr>
                                    <tr>
                                        <th colspan="5" class="text-right">Tax</th>
                                        <th>0.00</th>
                                    </tr>
                                    <tr>
                                        <th colspan="5" class="text-right">Total</th>
                                        <th>{{ order.get_total_cost|add:'200' }} </th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.table-responsive-->
                            <div class="row addresses">
                                <div class="col-lg-6">
                                    <h2 class="text-left">Invoice address</h2>
                                    <p class="text-left">MunyuaClothStore<br>Opposite Moi Avenue<br>Nairobi<br>Kenya<br>
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <h2 class="text-left">Shipping address</h2>
                                    <p class="text-left">Name: {{ order.first_name }} {{ order.last_name }}<br>
                                        Address: {{ order.address }}<br>
                                        Phone: {{ order.phone }}<br>
                                        Email: {{ order.email }}<br>
                                        City: {{ order.city }}<br>
                                        Postal Address: {{ order.postal_code }}<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}