{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="all">
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- breadcrumb-->
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li aria-current="page" class="breadcrumb-item active">My orders</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <!--
                        *** CUSTOMER MENU ***
                        _________________________________________________________
                        -->
                        <div class="card sidebar-menu">
                            <div class="card-header">
                                <h3 class="h4 card-title">Customer section</h3>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-pills flex-column">
                                    <a href="{% url 'my-account' %}" class="nav-link active"><i class="fa fa-list"></i> My orders</a>
                                    <a href="#" class="nav-link"><i class="fa fa-heart"></i> My wishlist</a>
                                    <a href="{% url 'logout' %}" class="nav-link"><i class="fa fa-sign-out"></i> Logout</a></ul>
                            </div>
                        </div>
                        <!-- /.col-lg-3-->
                        <!-- *** CUSTOMER MENU END ***-->
                    </div>
                    <div id="customer-orders" class="col-lg-9">
                        <div class="box">
                            <h1>My orders</h1>
                            <p class="lead">Your orders on one place.</p>
                            <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact
                                us</a>, our customer service center is working for you 24/7.</p>
                            <hr>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Order</th>
                                        <th>Date</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in customer_orders %}
                                        <tr>
                                            <th># {{ order.id }}</th>
                                            <td>{{ order.created|date:"SHORT_DATE_FORMAT" }}</td>
                                            <td>Ksh {{ order.get_total_cost }}</td>
                                            <td>
                                                {% if order.paid %}
                                                    <span class="badge badge-success">Paid</span>
                                                {% else %}
                                                    <span class="badge badge-warning">Not paid</span>
                                                {% endif %}

                                            </td>
                                            <td><a href="{% url 'order_details' order.id %}"
                                                   class="btn btn-primary btn-sm">View</a></td>
                                        </tr>
                                    {% endfor %}
                                    {#                      <tr>#}
                                    {#                        <th># 1735</th>#}
                                    {#                        <td>22/06/2013</td>#}
                                    {#                        <td>$ 150.00</td>#}
                                    {#                        <td><span class="badge badge-info">Being prepared</span></td>#}
                                    {#                        <td><a href="customer-order.html" class="btn btn-primary btn-sm">View</a></td>#}
                                    {#                      </tr>#}
                                    {#                      <tr>#}
                                    {#                        <th># 1735</th>#}
                                    {#                        <td>22/06/2013</td>#}
                                    {#                        <td>$ 150.00</td>#}
                                    {#                        <td><span class="badge badge-success">Received</span></td>#}
                                    {#                        <td><a href="customer-order.html" class="btn btn-primary btn-sm">View</a></td>#}
                                    {#                      </tr>#}
                                    {#                      <tr>#}
                                    {#                        <th># 1735</th>#}
                                    {#                        <td>22/06/2013</td>#}
                                    {#                        <td>$ 150.00</td>#}
                                    {#                        <td><span class="badge badge-danger">Cancelled</span></td>#}
                                    {#                        <td><a href="customer-order.html" class="btn btn-primary btn-sm">View</a></td>#}
                                    {#                      </tr>#}
                                    {#                      <tr>#}
                                    {#                        <th># 1735</th>#}
                                    {#                        <td>22/06/2013</td>#}
                                    {#                        <td>$ 150.00</td>#}
                                    {#                        <td><span class="badge badge-warning">On hold</span></td>#}
                                    {#                        <td><a href="customer-order.html" class="btn btn-primary btn-sm">View</a></td>#}
                                    {#                      </tr>#}
                                    </tbody>
                                </table>
                            <div class="pages">
                            <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                                <ul class="pagination">
                                    {% if customer_orders.has_previous %}
                                        <li class="page-item"><a
                                                href="?{{ page_request_var }}={{ customer_orders.previous_page_number }}"
                                                class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                                    {% endif %}
                                    {% for i in customer_orders.paginator.page_range %}
                                        {% if customer_orders.number == i %}
                                            <li class="page-item active"><a href="#" class="page-link">{{ i }}</a></li>
                                        {% else %}
                                            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if customer_orders.has_next %}
                                        <li class="page-item"><a
                                                href="?{{ page_request_var }}={{ customer_orders.next_page_number }}"
                                                class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                                    {% endif %}

                                </ul>
                            </nav>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}